@charset "UTF-8";

body {
  margin: 0;
  padding: 3%;
  background-color: black;
  overflow-y: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

@mixin object($w, $h, $bg) {
  width: $w;
  height: $h;
  background-color: $bg;
}

@mixin flex($a, $j, $d) {
  display: flex;
  align-items: $a;
  justify-content: $j;
  flex-direction: $d;
}

@mixin font($font_s, $font_w, $font_c) {
  font-size: $font_s;
  font-weight: $font_w;
  color: $font_c;
}

$point_c: wheat;

/** Game part setting **/
.game__container {
  @include object(100%, 800px, "");
  @include flex(center, center, column);
  background: url(./img/background.png) center/cover no-repeat;
  border-radius: 10px;
}

.game__header {
  @include flex(center, center, column);
  margin: 40px 0;
  user-select: none;
}

.game__button {
  @include object(60px, 60px, $point_c);
  @include font(24px, "", black);
  border: 4px solid black;
  border-radius: 6px;
  transition: transform 150ms ease-in;

  &:hover {
    transform: scale(1.05);
  }
}

.game__timer {
  @include object(140px, 50px, white);
  @include font(32px, bold, "");
  text-align: center;
  border: 4px solid black;
  border-radius: 6px;
  margin-top: 8px;
  // visibility: hidden;
}

.game__score {
  @include object(50px, 50px, darksalmon);
  @include font(32px, bold, white);
  border-radius: 50%;
  text-align: center;
  border: 3px solid black;
  margin-top: 8px;
  // visibility: hidden;
}

.game__field {
  @include object(100%, 100%, "");
  position: relative;
  margin-top: 40px;
  // transition: transform 150ms ease-in;
}

/** Pop-up part setting **/
.pop-up {
  @include object(340px, auto, #00000080);
  @include flex(center, center, column);
  @include font(32px, bold, white);
  bottom: 2rem;
  padding: 16px;
  border-radius: 6px;
  margin: auto;
  text-align: center;
  transform: translateY(-150%);
}

.pop-up__refresh {
  @include object(60px, 60px, $point_c);
  @include flex(center, center, "");
  @include font(24px, "", black);
  border-radius: 50%;
  border: 3px solid black;
}

.pop-up__hide {
  display: none;
}
